@using BookStoreServiceApi.Models
@model IList<IAd>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    @foreach (var ad in Model)
    {
        <div class="row">
            <div class="col-md-12 margin-top-40" style="background:#f2f2f2;border:1px solid #808080;box-shadow:0px 2px 5px #ccc">
                <div class="col-md-4">
                    <p>Picture</p>
                </div>
                <div class="col-md-8">
                    <div class="col-md-8">
                        <h3>@ad.Title</h3>
                        <p>Book: @ad.Book.Title</p>

                        <p>Posted By: @ad.UserPosted</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Price: @ad.Price</h4>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
